<!-- /snippets/product-grid-item.liquid -->  
{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}
{% assign on_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
{% assign on_sale = true %}
{% endif %}
{% assign variant_tmp = product.selected_or_first_available_variant  %}
{% for variant in product.variants %}
{% if variant.available == true and variant.price < variant_tmp.price %}
{% assign variant_tmp = variant %}	
{% endif %}
{% endfor %}
<div class="item-area"> 
  <div class="product-image-area"> 
    {% case settings.collection_aspect_ratio %}
    {% when '1' %}
    {%- assign image_width = 400 -%}
    {%- assign image_height = '' -%} 
    {% else %}
    {%- assign image_width = 400 -%}
    {%- assign image_height = 364 -%}
    {% endcase %}  
    {% capture image_size %}{{ image_width }}x{{ image_height }}{% endcapture %}   
    <div class="loader-container" style="display: none;">
      <div class="loader">
        <i class="ajax-loader medium animate-spin"></i>
      </div>
    </div> 
    {% if settings.collection_product_price != blank %}
    <div class="price">  
      {% if on_sale %}
        {% if product.price_varies %}
        {% assign sale_price = product.price | money %}
        <span class="money">
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
        </span>
        {% else %} 
        <div class="special-price">
          <span class="money">{{ product.price | money }}</span>
        </div>
        {% endif %}
      {% else %}
        {% if product.price_varies %}
        {% assign price = product.price | money %}
        <span class="money">{{ 'products.general.from_text_html' | t: price: price }}</span>
        {% else %}
        <span class="money">
          {{ product.price | money }}
        </span>
        {% endif %}
      {% endif %} 
      {% if on_sale %} 
      <div class="compare-price">
        <span class="money">{{ product.compare_at_price | money }}</span>
      </div>
      {% endif %} 
    </div>   
    {% endif %}
    <h2 class="product-name">
      <a href="{{ product.url | within: collection }}" title="{{ product.title }}"> 
        {% if settings.language_enable %}
        <span class="lang1">{{ product.title | split: '|' | first }}</span>
        <span class="lang2">{{ product.title | split: '|' | last }}</span>
        {% else %}
        {{ product.title | split: '|' | first }}
        {% endif %}
      </a>
    </h2>
    <a href="{{ product.url | within: collection }}" class="product-image"> 
      <img data-src="{{ product.featured_image.src | img_url: image_size, crop: 'center' }}" src="{{ 'placeholder.png' | asset_url }}" alt="{{ product.featured_image.alt | escape }}" class="img-responsive lazy main">
      {% if product.images[1] and settings.collection_alternative_image != blank %}
      <img data-src="{{ product.images[1].src | img_url: image_size, crop: 'center' }}" src="{{ 'placeholder.png' | asset_url }}" alt="{{ product.images[1].alt | escape }}" class="alt-img lazy img-responsive">
      {% endif %}
    </a> 
    {% if variant_tmp.compare_at_price > variant_tmp.price %}
    <div class="product-label">
      {% if settings.collection_show_discount != blank %}
      <div class="onsale">
        <span class="price_percentage"> 
          <b class="label-discount" {% if settings.language_enable %}data-translate="collections.general.discount_label"{% endif %}>{{ 'collections.general.discount_label' | t }}</b>
          <span class="money" style="display:inline-block;">{{ variant_tmp.compare_at_price | minus: variant_tmp.price | money}}</span>
        </span>
      </div>
       {% endif %}
    </div>
    {% endif %}
    {% if sold_out %}
    <div class="product-label">
      <div class="sold-out">{{ 'products.product.sold_out' | t }}</div>
    </div>
    {% endif %}  
    <div class="deal-progress">
      <div class="deal-stock">
        <div class="stock-available">
          <span {% if settings.language_enable %}data-translate="products.product.availability"{% endif %}>{{ 'products.product.availability' | t }} </span> 
          {% if product.selected_or_first_available_variant.inventory_management %}
          {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
          {% if first_inventory > 0 %}
          {{first_inventory}}
          {% else %}
          {{ 'products.product.out_of_stock' | t }}
          {% endif %} 
          {% endif %}
        </div>
        {% if product.selected_or_first_available_variant.inventory_management and product.metafields.stock.qty %}
        <div class="stock-sold">
          <span {% if settings.language_enable %}data-translate="products.product.number_sold"{% endif %}>{{ 'products.product.number_sold' | t }} </span> 
          {%- assign productStartCount = product.metafields.stock.qty | times:1 -%}
          {%- if productStartCount > 0 -%}
          {%- assign productInventory = product.variants.first.inventory_quantity -%}
           {{ productStartCount | minus:productInventory }}
          {%- endif -%}
        </div>
        {% endif %}
      </div>
      <div class="progress"> 
        {% if product.metafields.stock.qty and product.metafields.stock.qty > product.variants.first.inventory_quantity %}
        {% assign totalCount = product.metafields.stock.qty | times:1 %}
        {% assign stockSold = totalCount | minus:productInventory | times: 100 | divided_by: totalCount %}  
        <span class="progress-bar" style="width:{{stockSold}}%"></span>
        {% else %}
        <span class="progress-bar" style="width:0%"></span>
        {% endif %}
      </div>
    </div>
    {% if product.description contains '[countdown]' %}   
    {% assign count_down_first = product.description | split:'[/countdown]' | first %}
    {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
    <div class="bottom-product-dailydeal bottom-home-dailydeal">  
      <div class="deal-text">
        <span class="deal-text1" {% if settings.language_enable %}data-translate="products.product.deal_text1"{% endif %}>{{ 'products.product.deal_text1' | t }}</span>
        <span class="deal-text2" {% if settings.language_enable %}data-translate="products.product.deal_text2"{% endif %}>{{ 'products.product.deal_text2' | t }}</span>
      </div>
      <div class="product-date" data-date="{{ count_down_final }}"></div>
    </div> 
    {% endif %}  
  </div> 
</div> 