<!-- /templates/customers/account.liquid -->  
{% include 'breadcrumb' %}
<div class="container">
  <div class="row">
  <div class="account-dashboard">
    <div class="col-sm-12">
      <div class="main-account">
        <div class="my-account">  
          <h5>{{ customer.name }} <span><a href="/account/logout" {% if settings.language_enable %}data-translate="customer.account.title"{% endif %}>({{ 'customer.logout.title' | t }})</a></span></h5>
          <div class="content">
            <div class="view-my-quotes-wrapper"><button id="view-my-quotes" data-customerid="{{ customer.id }}">View My Quotes</button></div>
            
            <div id="my_quotes"></div>
          	{% if customer.default_address != nil %}
              <p>
              {{ customer.default_address.address1 }}<br>

              {% if customer.default_address.address2 != "" %}
                {{ customer.default_address.address2 }}<br>
              {% endif %}

              {% if customer.default_address.city != "" %}
                {{ customer.default_address.city }}<br>
              {% endif %}

              {% if customer.default_address.province_code != "" %}
                {{ customer.default_address.province_code | upcase }}<br>
              {% endif %}

              {% if customer.default_address.zip != "" %}
                {{ customer.default_address.zip | upcase }}<br>
              {% endif %}

              {% if customer.default_address.country != "" %}
                {{ customer.default_address.country }}<br>
              {% endif %}

              {% if customer.default_address.phone != "" %}
                {{ customer.default_address.phone }}
              {% endif %}
              </p>

            {% endif %}

            <p><a href="/account/addresses" class="btn-button bordered"><span {% if settings.language_enable %}data-translate="customer.account.view_addresses"{% endif %}>{{ 'customer.account.view_addresses' | t }}</span> ({{ customer.addresses_count }})</a></p>
          </div> 
        </div>
        <div class="my-order">
          <h5>{{ 'customer.orders.title' | t }}</h5> 
          {% comment %}
            If we have past orders, loop through each one
          {% endcomment %}
          {% paginate customer.orders by 20 %}
            {% if customer.orders.size != 0 %}

              <div class="table-wrap">
                <table class="full">
                  <thead>
                    <tr>
                      <th {% if settings.language_enable %}data-translate="customer.orders.order_number"{% endif %}>{{ 'customer.orders.order_number' | t }}</th>
                      <th {% if settings.language_enable %}data-translate="customer.orders.date"{% endif %}>{{ 'customer.orders.date' | t }}</th>
                      <th {% if settings.language_enable %}data-translate="customer.orders.payment_status"{% endif %}>{{ 'customer.orders.payment_status' | t }}</th>
                      <th {% if settings.language_enable %}data-translate="customer.orders.fulfillment_status"{% endif %}>{{ 'customer.orders.fulfillment_status' | t }}</th>
                      <th {% if settings.language_enable %}data-translate="customer.orders.total"{% endif %}>{{ 'customer.orders.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in customer.orders %}
                      <tr>
                        <td>{{ order.name | link_to: order.customer_url }}</td>
                        <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                        <td>{{ order.financial_status_label }}</td>
                        <td>{{ order.fulfillment_status_label }}</td>
                        <td>{{ order.total_price | money }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
              <p {% if settings.language_enable %}data-translate="customer.account.title"{% endif %}>{{ 'customer.orders.none' | t }}</p>
            {% endif %}
            {% if paginate.pages > 1 %}
              <hr>
              <div class="pagination">
                {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
              </div>
            {% endif %}
          {% endpaginate %}
        </div>
      </div> 
    </div> 
  </div>
  </div>
</div>

<script>
  const box_style_names = {
    "RSC": "Regular Slotted Case (RSC)",
    "FOLF": "Fully Overlapping Flap RSC (FOLF)",
    "HSC": "Half Slotted Case (HSC)",
    "B&L": "Box and Lid (B&L)",
    "5PF": "5 Panel Folder (5PF)"
  };

  const board_grade_names = {
    "KSC": "Kraft Single Cushion B Flute",
    "KTC": "Kraft Twin Cushion BC Flute",
    "WSC": "White Single Cushion B Flute"
  };

  $("#view-my-quotes").click(async function(){
    $('#view-my-quotes').attr('disabled','true');
    $('#view-my-quotes').html('<i class="fa fa-spinner fa-spin"></i>');
    let customerId = $(this).data("customerid");
    let responce = await fetch('http://localhost:4001/findQuotes:' + customerId, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      },
      mode: 'cors'
    });
    if(responce.status == 200){
      let scrolToId =  $("#view-my-quotes").data("scrollto");
      console.log(scrolToId);
      let data = await responce.text();
      let parsed_data = JSON.parse(data);
      
      let quote_template_heading = `<div class='my-quotes-heading'><h2>Your Saved Quotes</h2></div>`
      $("#my_quotes").html(quote_template_heading);
      for(let i=0 ; i < parsed_data.length ; ++i){
        let quote = parsed_data[i];
        let quote_template = `<div id="${quote._id}" class="quote-table-wrapper">
                              <h3>Quote Number #${i + 1}:</h3>
                              <table class="quotes-table">
                              <tr><th>Label</th><th>Value</th></tr>  
                               <tr><td>Box Style</td><td>${box_style_names[quote.box_style]}</td></tr>
                               <tr><td>Board Grade</td><td>${board_grade_names[quote.board_grade]}</td></tr>
                               <tr><td>Box Length</td><td>${quote.length}mm</td></tr>
                               <tr><td>Box Width</td><td>${quote.width}mm</td></tr>
                               <tr><td>Box Height</td><td>${quote.height}mm</td></tr>
                               <tr><td>Include Lid</td><td>${quote.include_lid}</td></tr>
                               <tr><td>Quantity</td><td>${quote.quantity}</td></tr>
                               <tr><td>Unit Price</td><td>$${quote.unit_price}</td></tr>
                               <tr><td>Total Price</td><td>$${quote.total_price}</td></tr>
                              </table>
                              <div class="select-quote-btn-wrapper">
                                <button class="select-quote-btn" data-quoteuniqueid="${quote.unique_id}" data-quoteindex="${i + 1}">Proceed with Quote #${i + 1}</button>
                              </div>
                            </div>`;
         $("#my_quotes").append(quote_template);               
      }

      if(parsed_data.length == 0){
        $("#my_quotes").html("<div class='my-quotes-heading'><p class='quote-message'>No Quotes Found!</p></div>");
      }
    }else{
      $("#my_quotes").html("<div class='my-quotes-heading'><p class='quote-message'>Some unusual error happened! Please try again!</p></div>");
    }

    $('#view-my-quotes').attr('disabled', false);
    $('#view-my-quotes').html('View My Quotes');
    
    let quote_id = localStorage.getItem("scrollTo");

    if(quote_id){
      localStorage.setItem("scrollTo", "");
      $('html, body').animate({
        scrollTop: $("#" + quote_id).offset().top - 300
      }, 1000);
    }
});


$(document).on('click', 'button.select-quote-btn', async function (e) {
  $(this).attr('disabled','true');
  $(this).html('<i class="fa fa-spinner fa-spin"></i>');
  let uniqueId = $(this).data("quoteuniqueid");
  let quoteIndex = $(this).data("quoteindex");
  let responce = await fetch('http://localhost:4001/findQuote:' + uniqueId, {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json'
    },
    mode: 'cors'
  });
  if(responce.status == 200){
    let data = await responce.text();
    let parsed_data = JSON.parse(data);
    let quoteObject = parsed_data[0];
    let currentSelection = {
      "boxStyle": quoteObject.box_style,
      "boardGrade": quoteObject.board_grade,
      "length": quoteObject.length,
      "width": quoteObject.width,
      "height": quoteObject.height,
      "includeLid": quoteObject.include_lid,
      "quantity": quoteObject.quantity,
      "unitPrice": quoteObject.unit_price,
      "uniqueId": quoteObject.unique_id
    }
    let currentSelectionString = JSON.stringify(currentSelection);
    localStorage.setItem("currentSelection", currentSelectionString);
    window.location.href = "/products/custom-box?variant=43254622945517";
  }else{
  
  }
  $(this).attr('disabled',false);
  $(this).html('Proceed with Quote #' + quoteIndex);
  
  
});

$(document).ready(function(){
  let url = window.location.href;
  let url_split_array = url.split("#");

  if(url_split_array.length > 1){
    let quote_id = url_split_array[1];
    localStorage.setItem("scrollTo", quote_id);
    $("#view-my-quotes").click();
  }
});
</script>
  