{{ 'custom-icons.css' | asset_url | stylesheet_tag }}

<div class="custom-icons__wrapper" style="background-color: {{ section.settings.background_color }};">
    <div class="custom-icons">
        <div class="custom-icons__inner">
           
            <div class="custom-icons__blocks">
               
                    {%- for block in section.blocks -%}
                        <div class="custom-icons__block">
                            <div class="custom-icons__image">
                                <img src="{{ block.settings.custom-icon | image_url }}" loading="lazy">
                            </div>
                            <div class="custom-icons__text">
                               <h4>{{ block.settings.icon-heading }}</h4>
                               {{ block.settings.icon-desc }}
                            </div>
                        </div>
                    {%- endfor -%}
             
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Custom Icons",
  "tag": "section",
  "class": "section",
  "settings": [ 
   
  ],
  
  "blocks":[
    {
        "type": "image",
        "name": "Image",
        "settings": [
            {
                "type": "image_picker",
                "id": "custom-icon",
                "label": "Select Custom Icon"
            },
            {
                "type": "text",
                "id": "icon-heading",
                "label": "Icon Heading",
                "default": "Fast Delivery"
            },
            {
                "type": "richtext",
                "id": "icon-desc",
                "label": "Icon Description",
                "default": "<p>Delivers in 7-14 days.</p>"
            }          
        ]
    }
  ],
  "presets": [
    {
      "name": "Custom Icons",
      "blocks": [
        
      ]
    }
  ]
}
{% endschema %}